go 1.25.0

use (
	./api-gateway
	./auth-service
	./common
	./example-service
	./game-service
	./items-service
	./marketplace-service
	./notification-service
	./payment-service
	./stats-service
	./wallet-service
)
